 body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3a2f70;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 950px;   
}
.box{
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background: #3f34a18d;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.head{
    margin-bottom: 20px;
    color: aliceblue;
    font-size: larger;
    margin-bottom: 40px;
}

p{
    font-size: 14px;
}

.bio{
    font-size: 15px;
}

.head img {
      width: 120px;
      height: 120px;
      border-radius: 100px;
      border: 3px solid white;
    }

.link{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tombol{
    display: block;
    flex-direction: column; 
    text-decoration: none;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 10px;
    background: linear-gradient(90deg, #5f6dfc, #6f7bff);
    color: black;
    font-weight: bold;
    
}

.tombol:hover{
    background: linear-gradient(90deg, #4a57e0, #5a66f0);
    transform: scale(1.03);
}

.video{
 color: white;
}

.video iframe{
    width: 400px;
    height: 270px;
    border-radius: 10px;
}

.desk-video{
    font-size: 12px;
}